* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

#header {
    height: 300px;
    background: -moz-linear-gradient(-45deg, rgba(0, 206, 209, 1) 0%, rgba(64, 224, 208, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(0, 206, 209, 1) 0%, rgba(64, 224, 208, 1) 100%);
    background: linear-gradient(135deg, rgba(0, 206, 209, 1) 0%, rgba(64, 224, 208, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3300ced1', endColorstr='#3340e0d0', GradientType=1);
    background-image: linear-gradient(135deg, rgba(0, 206, 209, 1) 0%, rgba(64, 224, 208, 1) 100%), url('bg.png'), repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3em;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

input {
    height: 30px;
    font-size: 2rem;
    padding: 10px;
    padding-left: 20px;
    margin-top: 20px;
    border: 1px solid mediumaquamarine;
    border-radius: 30px;
    outline: none;
    color: #5c5c5c;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article {
    width: 400px;
    min-width: 80vh;
    margin: 10px;
    padding: 20px;
    border: 1px solid rgb(64, 224, 208);
    border-radius: 10px;
    box-shadow: none;
    -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out ;
  -ms-transition: all .5s ease-out ;
  -o-transition: all .5s ease-out ;
  transition: all .5s ease-out ;
}

.article:hover {
    box-shadow: 0px 5px 0px rgb(64, 224, 208);
    cursor: pointer;
    
}

.art-header {
    font-size: 1.5rem;
}

.article > hr {
    border-top: 1px solid rgb(64, 224, 208);
    margin: 4px 0;
}

.art-body {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}

.art-img {
    width: 40%;
}

.art-desc {
    padding-left: 10px;
    text-align: justify;
}